@import url('./global.css');

body {
  display: flex;
  flex-direction: column;
}

header{
  background-image: url('../images/header-mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 1280px;
  height: 505px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 24px;
  gap: 24px;
  align-self: center;
}

header > h1 {
  font-family: "Luckiest Guy", cursive;
  color: white;
  font-size: 2rem;
  width: 278px;
}

header > p {
  color: white;
}

.group-buttons {
  align-self: center;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
}

.button {
  width: 381px;
  height: 54px;
  border-radius: 28px;
}

.download-app {
  background-color: white;
  color: black;
}

.open-discord {
  background-color: black;
  color: white;
}

.content {
  padding: 40px 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 27px;
}

.content-bg-grey {
  background-color: #F6F6F6;
}

.content picture {
  width: 379px;
  height: 252px;
}

.content-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 27px;
}

.content-description > h1 {
  font-size: 1.5rem;
  font-weight: 800;
  width: 370px;
  color: #23272A;
}

.content-description > p {
  width: 378px;
}

#content-2 {
  flex-direction: row-reverse;
}

#ultimo-content {
  flex-direction: column;
  align-items: center;
}

#ultimo-content h1 {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-size: 2rem;
}

footer {
  background-color: #23272A;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media screen and (min-width: 1280px) {

  header{
    background-image: url('../images/header-web.png');
    background-size: contain;
  }

  header > h1 {
    align-self: center;
    font-size: 3.5rem;
    width: 313px;
    text-align: center;
  }

  header > p {
    align-self: center;
    text-align: center;
    width: 757px;
  }

  .button {
    width: max-content;
    padding: 0 24px;
    height: 44px;
  }

  .content picture {
    width: 607px;
    height: 394px;
  }

  .content-description > h1 {
    font-size: 2.5rem;
    width: 329px;
  }

  .content-description > p {
    width: 348px;
  }  

  .content {
    gap: 16px;
  }

  #ultimo-content h1 {
    font-size: 2.5rem;
    text-align: center;
    width: 608px;
    align-self: center;
  }

  #ultimo-content p {
    width: 802px;
    text-align: center;
  }

  #ultimo-content picture {
    width: 784px;
    height: 508px;
  }
  
}